@import "./media_queries";
@import "./mixins";
@import "./reset";
@import "./vars";

@font-face {
    font-family: "Harry";
    src: url("/fonts/Harry Plain.otf");
}

html {
    color: #EFEFEF;
    font-family: "Harry";
    background-color: #15202B;
    font-weight: 500;
}
